#set( $chart = $params.get("chart"))
{
	title : {
        text: '$!{chart.title.text}',
        subtext: '$!{chart.title.subtext}'
    },
    tooltip : {
        trigger: 'axis'
    },
    legend: {
        data:[
		 #foreach($data in $chart.legend.data)
		 '$!{data}'#if( $foreach.hasNext ),#end
		 #end
		]
    },
	#if( $chart.dataZoom)
    dataZoom : {
        show : $chart.dataZoom.show,
        realtime: $chart.dataZoom.realtime,
        start : $chart.dataZoom.start,
          end : $chart.dataZoom.end
    },
    #end
    xAxis : [
    	#foreach($axis in $chart.xAxis.axis)
        {
            type : '$!{axis.type}',
            data : [
            #foreach($data in $axis.data)
			'$!{data}'#if( $foreach.hasNext ),#end
			#end
			]
        }#if( $foreach.hasNext ),#end
        #end
    ],
    yAxis : [
    	#foreach($axis in $chart.yAxis.axis)
        {
            type : '$!{axis.type}'
        }#if( $foreach.hasNext ),#end
        #end
    ],
    series : [
    	#foreach($series in $chart.series.series)
        {
            name:'$!{series.name}',
            type:'$!{series.type}',
            stack: '$!{series.stack}',
            #if( $series.yAxisIndex)yAxisIndex:${series.yAxisIndex},#end
            data:[
            #foreach($data in $series.data)
            '$!{data.value}'#if( $foreach.hasNext ),#end
            #end
			]
        }#if( $foreach.hasNext ),#end
        #end
    ]
};
                    