#set($chartData = $params.chartData)
#set($series = $chartData.getSeries())
#set($categories = $chartData.getCategories())
{
    tooltip: {
        show: true
    },
    legend: {
        data:[
        #foreach($serie in $series)
        	#set( $legend = $serie.getLegend() )
        	'${legend.getName()}'#if( $foreach.hasNext ),#end
        #end
		]
    },
    xAxis : [
        {
            type : 'category',
            data : [
			#foreach($category in $categories)
	        	"${category.getName()}"#if( $foreach.hasNext ),#end
	        #end
            ]
        }
    ],
    yAxis : [
        {
            type : 'value'
        }
    ],
    series : [
    	#foreach($serie in $series)
        {
        	#set( $seriesDatas = $serie.getDatas())
        	#set( $legend = $serie.getLegend() )
        	
			"name":"${legend.getName()}",
            "type":"${legend.getChartType()}",
            "data":[
            #foreach($datas in $seriesDatas)
            	#set( $values = $datas.getDatas() )
            	#foreach($value in $values)
            		${value.getValue()}
            	#end
            	#if( $foreach.hasNext ),#end
            #end
            ]
        }#if( $foreach.hasNext ),#end
        #end
    ]
};